*.opensdf
colourised.sdf
colourised.sln
colourised.v11.suo
colourised.vcxproj
colourised.vcxproj.filters
Visual Micro/.colourised.vsarduino.h
Visual Micro/Compile.vmps.xml
Visual Micro/Configuration.Debug.vmps.xml
Visual Micro/Upload.vmps.xml